
header {
    background-color: #e57d90;
    padding: 16px 0;
}

header h1 {
    color: white;
    font-size: 40px;
    font-weight: 100;
    display: inline-block;
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}     
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    background-image:url(/public/img/fondo.jpg);
    background-size: 1500px;
    
}
.holder{
    max-width: 960px;
    margin:0 auto;
   
}



