
header {
    background-color: #e57d90;
    padding: 16px 0;
}

header h1 {
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    margin-left: 10px;
}     
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}
.holder{
    max-width: 960px;
    margin:0 auto;
   
}



