.contacto{
    display: flex;
    gap: 24px;
}
.contacto div{
    width: 100%;
}
.datos p{
    font-size: 15px;
    color: black;
}
.datos ul li img{
   width: 100px;
   margin: 20px;
   display: flex;
   justify-content: center;
}
.hijo{
margin: 30px;
}
.papa{
    display: flex;
    list-style: none;
}
.formulario p{
    display: flex;
}
.formulario p label{
    min-width: 100px;
    align-items: center;
}
.formulario p:nth-child(4){
    align-items: start;
}
.formulario textarea{
    resize: none;
    height: 150px;
}
.formulario input[type="submit"]{
background: #6da9ed;
box-shadow: 0 0 10px rgba(0,0,0,0.4);
color: white;
font-size: 16px;
padding: 6px 20px;
width: auto;
position: relative;
left: 5 rem;
cursor: pointer;
}
.formulario input[type="submit"]:hover{
    background-color: #2e64a1;
}
.contacto{
    font-size: 25px;
    font-weight: bold;
    color: #cc4f66;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 35px;
}
.correcto{
    color: rgb(0, 0, 0);
    font-size: 15px;
    
}
.espacio{
    width: 200px;
    border-radius: 7px;
    border-color: #cc4f66;
    height: 25px;
}