body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}
.holder{
    max-width: 960px;
    margin:0 auto;
   
}

.testimonio{
    color:#000000;
    background-color: #cc8b95;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
}
.nombres{
    font-size: 35px;
    background-color: #e57d90;
    height: 30px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.primero{
    font-size: 30px;
    font-weight: bold;
    color: #cc4f66;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 45px;
    
}
h2{
    color: #e57d90;
    font-weight: 400;
}
.bienvenidos{
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
    padding-left: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.testimonios{
    width: 35%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.clase1 {
    font-size: 30px;
    font-weight: bold;
    color: #cc4f66;
}
.columnas{
    display: flex;
    justify-content: space-between;
    
}
.header{
    display: flex;
    align-items: center;
}
.bienvenidos p {
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 23px;
line-height: 30px;
margin: 10px;
color: #000000;
}
.testimonio{
    background-color: #e49fc9;
    padding: 25px;
    max-height: 300px;
    margin: 15px;
    margin-left: 0;
 
}

.intro {
    background-color:#b8616e ;
    height:150px;
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
.centrar p {
  display: flex;
  align-items: center; /* Centrado vertical */
  height: 100px;
  padding: 40px;
}
.testimonio .cita {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 20px;
    display: block;
    line-height: 30px;
     color: #000000b4;
}
.testimonio .autor{
    font-size: 15px;
    text-align: center;
    display: block;
    margin: 12px 0;
    font-family:Georgia, 'Times New Roman', Times, serif; 
    color: #000000b4;
}
.imagen{
    margin: 0 auto;
    display: block;
    width: 800px;
}
.first{
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 35px;
}
.foto{
    width: 200px;
}