.historia p{
    font-size: 15px;
}
.personas{
    display: flex;
    justify-content: space-between;
  
}
.hola {
    font-size: 30px;
    font-weight: bold;
    color: #cc4f66;
}
.continuacion{
    background-color: #f99aaa;
    font-size: 23px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 30px;
    padding: 10px;
}
.cuerpo {
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 30px;
    margin:5px;
    color: #000000;
    text-align: left;
    background-color: rgb(247, 188, 198);
}
.persona{
    border: 1px solid #fdb4bf;
    border-radius: 5px;
    width: 30%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
    background-color: #fdb4bf;
}
.persona img{
    max-width: 100%;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin-bottom: 25px;
}
.persona .diferente{
margin-bottom: 30px;
margin-top: 20px;
}

.persona h6{
    margin: 0;
    font-weight: normal;
    color: #e57d90;
    font-weight: bold;
}
.persona h5{
    font-size: 30px;
    font-weight: bold;
    color: #cc4f66;
    margin: 0;
    margin-top:0;
    line-height: 25px;
}

.persona h6{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 30px;
    margin:5px;
    color: #000000;
    text-align: left;
}
.persona p{
    color: #000;
    background-color: #fdb4bf;
}